.pagination-bottom .-pagination .-previous .-btn {
	background-color: #f66042;
	font-family: 'PT-Sans';
}

.pagination-bottom .-pagination .-next .-btn {
	background-color: #f66042;
	font-family: 'PT-Sans';
}

.ReactTable .rt-thead .rt-th.-sort-asc {
	box-shadow: inset 0 3px 0 0 rgba(65, 141, 207, 0.6);
	color: #f66042;
	font-weight: 700;
}
